<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>ID do comentário: <%=ownedCharacters.id%></h1>
    <h2><%=ownedCharacters.comment%> - <%=ownedCharacters.User.username%></h2>
    <a href="/ownedCharacters">Voltar para o index</a>
    <a href="/ownedCharacters/<%=ownedCharacters.id%>/edit">Editar comentário</a>
    <form method="POST" action="/ownedCharacters/<%=ownedCharacters.id %>?_method=DELETE">
        <button>Apagar</button>
    </form>
</body>
</html>